/* dark theme */

:root
{
	--background    : #0f1319;
	--bg-darker     : #090c12;
	--warn          : #ff8f2d;
	--debug         : #39bae6;
	--trace         : #B3B1AD;
	--info          : #C2D94C;
	--error         : #EF2929;
	--entity        : #59C2FF;
	--button-border : #626A73;
	--foreground    : #fff   ;
	--input         : black  ;
}


@media (prefers-color-scheme: light)
{
	:root
	{
		--background    : #EEE;
		--bg-darker     : #FFF;
		--warn          : #CE5C00;
		--debug         : #204A87;
		--trace         : #2E3436;
		--info          : #697D00;
		--error         : #A40000;
		--entity        : #59C2FF;
		--button-border : #2E3436;
		--foreground    : #000   ;
		--input         : #FFFFFF;
	}
}


body, html
{
	background: var( --background ) !important;
	color     : var( --foreground ) !important;
}


#header
{
  border-bottom-color: var( --foreground );
}

#upload
{
	background: var( --background );
	color: var( --foreground );
}

.column
{
	background: var( --bg-darker );
}

.logview > p:nth-child(even)
{
	background: var( --background );
}

button
{
	background: var( --background );
	color: var( --foreground );
	border-color: var( --button-border );
	margin-right: 1px;
}

.filter-input
{
	background: var( --input );
	color: var( --foreground );
	border-color: var( --button-border );
	margin-right: 1px;
}


.trace, .button-trace
{
	color: var( --trace );
}


.debug, .button-debug
{
	color: var( --debug );
}


.info, .button-info
{
	color: var( --info );
}


.warn, .button-warn
{
	color: var( --warn );
}


.error, .button-error
{
	color: var( --error );
}


  .button-trace.hide
, .button-debug.hide
, .button-info.hide
, .button-warn.hide
, .button-error.hide
{
	color: var( --button-border );
}
