/* dark theme */

:root
{
	--background    : #151C25;
	--bg-darker     : #090C12;
	--debug         : #39bae6;
	--debug-bright  : #45C6F2;
	--trace         : #B1A9AB;
	--trace-bright  : #BDB5B8;
	--info          : #C2D94C;
	--info-bright   : #CCE356;
	--warn          : #FF8F2D;
	--warn-bright   : #FFA139;
	--error         : #EF2929;
	--error-bright  : #F73131;
	--entity        : #59C2FF;
	--button-border : #626A73;
	--foreground    : #FFF   ;
	--input         : black  ;
	--wrong-regex   : #530404;
}


@media (prefers-color-scheme: light)
{
	:root
	{
		--background    : #EEE;
		--bg-darker     : #FFF;
		--trace         : #2E3436;
		--trace-bright  : #23282A;
		--debug         : #204A87;
		--debug-bright  : #143F7A;
		--info          : #697D00;
		--info-bright   : #5D7200;
		--warn          : #CE5C00;
		--warn-bright   : #C35100;
		--error         : #A40000;
		--error         : #980000;
		--entity        : #59C2FF;
		--button-border : #2E3436;
		--foreground    : #000   ;
		--input         : #FFFFFF;
		--wrong-regex   : #F24343;
	}
}


body, html
{
	background: var( --bg-darker  );
	color     : var( --foreground );
}


#header
{
  border-bottom-color: var( --foreground );
}

#upload
{
	background: var( --background );
	color: var( --foreground );
}

.column
{
	background: var( --bg-darker );
}


button
{
	background: var( --background );
	color: var( --foreground );
	border-color: var( --button-border );
	margin-right: 1px;
}

.filter-input
{
	background: var( --input );
	color: var( --foreground );
	border-color: var( --button-border );
	margin-right: 1px;
}


.wrong-regex
{
	background: var( --wrong-regex );
}


.trace, .button-trace
{
	color: var( --trace );
}


.debug, .button-debug
{
	color: var( --debug );
}


.info, .button-info
{
	color: var( --info );
}


.warn, .button-warn
{
	color: var( --warn );
}


.error, .button-error
{
	color: var( --error );
}


  .button-trace.hide
, .button-debug.hide
, .button-info.hide
, .button-warn.hide
, .button-error.hide
{
	color: var( --button-border );
}



  .entry > p
, .entry > table td
{
	color: inherit;
}


.trace .message
{
	color: var( --trace-bright );
}

.debug .message
{
	color: var( --debug-bright );
}

.info .message
{
	color: var( --info-bright );
}

.warn .message
{
	color: var( --warn-bright );
}

.error .message
{
	color: var( --error-bright );
}


/*
 * Color every second row, ignoring hidden items:
 * https://blog.blackbam.at/2015/04/09/css-nth-child-selector-ignore-hidden-element/
 */


.entry.odd
{
	background: var( --background );
}


#timestamp
{
	background: var( --bg-darker );
	border-color: var( --warn );
}
