body
{
	display: grid;
	height: 100%;
	grid-template-rows: auto minmax(0, 1fr);
	margin: 0;
	font-family: Montserrat, verdana;
}

.template, .template *
{
	display: none;
}

#header
{
	border-bottom-width: thin;
	border-bottom-style: solid;
	padding: 0 1vw;
}

#header > *
{
	display: inline-block;
	vertical-align: middle;
}

#header > h1
{
	margin: 0;
	margin-right: 1vw;
	font-weight: normal;
}


#controls *
{
	display: inline-block;
	margin-right: 1vw;
}


.column
{
	padding: .5vw;
	min-width: 18rem;
}


.logview
{
	padding-top: 2vh;
}


.logview p
{
	margin: 0;
	padding: .2rem 0;
	font-family: "Source Code Pro", Consolas, monospace;
}


#columns
{
	display: grid;
	grid-auto-flow: column;
	grid-gap: 0.3vw;
	min-width: 0;
}


.col-controls
{
	white-space: nowrap;
	display: flex;
	position: sticky;
	top: 0;
	min-width: 5rem;
}


.filter-input
{
	flex:1;
	min-width: 3rem;
}


.collapsed
{
	min-width: auto;
}


.collapsed .col-controls
{
	writing-mode: vertical-lr;
	min-width: auto;
}


.collapsed .filter-input
{
	width: 100%;
	max-height: 50vh;
	min-width: auto;
}


.toggle-button
{
	font-weight: bold;
}

.toggle-button.hide
{
	font-weight: normal;
}



